*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
}
header{
    text-align: center;
    padding: 20px;
    background-color: rgba(126, 208, 211, 0.336);
}
main{
    padding: 50px;
    margin: auto;
    max-width: 800px;
    background-color: rgba(126, 208, 211, 0.349);
    border-radius: 40px;
}
.flex{
    display: flex;
}
#form_adc{
    justify-content: center;
    padding-left:  90px;
}
input{
    margin: 7px;
    padding: 10px;
    border-radius: 10px;
}
button{
    margin: 7px;
    padding: 5px;
}
