*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
    background-image: url(assets/papel_de_parede_adesivo_patinhas_de_cachorro_animais_ossos_preto_branco_e_azul_ssan_039_1993_1_e1f382dc9f94b980e854d23c24d4af70.webp);
}
header{
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(126, 208, 211, 0.336);
}
header img{
    width: 100px;
}
main{
    text-align: center;
    padding: 50px;
    margin: auto;
    max-width: 800px;
    background-color: rgba(126, 208, 211, 0.349);
    border-radius: 40px;
}
.flex{
    display: flex;
}

input, select{
    margin: 7px;
    padding: 10px;
    border-radius: 10px;
}
textarea{
    max-width: 300px;
}
button{
    margin: 7px;
    padding: 5px;
}
